*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    display: flex;
    margin: 0;
}

nav {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100vh;
    position: fixed;
    background-color: #cecece;
}

main {
    flex: 1;
    margin-left: 15%;
    background-color: #e0e0e0;

}


section {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.articles {
    flex: 1;
    display: flex;
    align-items: center;
}

.rodape {
    text-align: center;
}

.rodape__image {
    width: 3%;
}

article {
    flex: 1;
    padding: 1rem;
    margin: .5rem;
}

/* NavBar */

.navbar__image {
    width: 100%;
    max-width: 7rem;
    height: auto;
    border-radius: 50%;
    background-color: #EAEAEA;
}

.navbar__nome {
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

.navbar__trabalho {
    white-space: nowrap;
    font-size: 1rem;
    color: #2596be;
}

.navbar__list {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    text-align: center;
}

.navbar__list__item {
    border-bottom: 2px solid transparent;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 1.5rem;
}

.navbar__list__item:hover {
    display: inline-block;
    border-bottom: 2px solid #D93654;
}


.navbar__active__link {
    color: #2596be;
}

/* Classe adicionada pelo JS menu.js*/
.menu-toggle {
    display: none;
}


/* Home Section */
.home__section__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.home__section__texto__nome {
    color: #292929;
    font-size: 4.5rem;
    margin: 0;
}


.home__section__texto__frase__efeito {
    color: #2596be;
    font-size: 2.5rem;
    margin: 0;
}

.home__section__texto__frase__efeito__palavras {
    display: inline-block;
}

.home__section__texto__frase__efeito__fixo {
    color: #D93654;
    font-weight: 200;
}

.home__section__texto__frase__efeito__cursor {
    display: inline-block;
    width: 3px;
    height: 35px;
    background-color: black;
    margin-left: 5px;
    animation: blink 0.8s infinite;
}

.home__section__image {
    position: absolute;
    width: 20%;
    right: 0;
    bottom: 0;
}

/* About Section */
.about__section {
    margin: 0 5rem;
}

.about__section__subtitle__whoami {
    color: #2596be;
}

.about__section__subtitle__my_description {
    text-align: justify;
    line-height: 1.5;
}

/* Efeito de "brilho" do cursor no texto*/
@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Fim do efeito de "brilho" do cursor no texto*/

@media screen and (max-width: 1020px) {

    main {
        margin-left: 0;
        width: 100hv;
    }

    .navbar {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .navbar__list__item {
        font-size: 1rem;
    }

    .navbar__image {
        display: none;
    }

    .navbar__list {
        display: none;
    }

    .navbar__nome {
        display: none;
    }

    .navbar__trabalho {
        display: none;
    }

    .menu-toggle {
        display: block;
        background-color: #cecece;
        color: black;
        font-size: 1rem;
        border: none;
        cursor: pointer;
    }

    .show-menu {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }


    .home__section__texto__nome {
        color: black;
        font-size: 2.2rem;
        margin: 0;
        white-space: nowrap;
    }

    .home__section__texto__frase__efeito {
        font-size: 1.4rem;
        margin: 0;
        white-space: nowrap;
    }

    .home__section__texto__frase__efeito__cursor {
        display: inline-block;
        width: 2px;
        height: 20px;
    }

    .home__section__image {
        /* width: 35%; */
        display: none;
    }

    .articles {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .about__section {
        padding: 3rem 0 0 0;
        margin: auto;
    }

    .about__section__visual {
        text-align: center;
        padding: 0;
    }

    .about__section__visual__image {
        width: 70%;
    }

    .about__section__textual {
        padding: 0.2;
        text-align: justify;
    }

    .about__section__subtitle__whoami {
        margin: 0;
    }
}

@media screen and (max-height: 580px) {
    .navbar {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 580px;
        scrollbar-width: thin;
        -webkit-scrollbar-width: thin;
    }

    section {
        height: 100%;
    }

}