*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    display: flex;
    margin: 0;
}

nav {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100vh;
    position: fixed;
    background-color: #cecece;
}

main {
    flex: 1;
    margin-left: 15%;
}


section {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.articles {
    flex: 1;
    display: flex;
    align-items: center;
}

.rodape {
    text-align: center;
}

.rodape__image {
    width: 2rem;
}

article {
    flex: 1;
    padding: 1rem;
    margin: .5rem;
}

/* NavBar */

.navbar__image {
    width: 100%;
    max-width: 7rem;
    height: auto;
    border-radius: 50%;
    background-color: #EAEAEA;
}

.navbar__nome {
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

.navbar__trabalho {
    white-space: nowrap;
    font-size: 1rem;
    color: #2596be;
}

.navbar__list {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    text-align: center;
}

.navbar__list__item {
    border-bottom: 2px solid transparent;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 1.5rem;
}

.navbar__list__item:hover {
    display: inline-block;
    border-bottom: 2px solid #D93654;
}

/* Classe adicionada pelo JS highlight.js*/
.navbar__active__link {
    color: #2596be;
}

/* Classe adicionada pelo JS menu.js*/
.menu-toggle {
    display: none;
}


/* Home Section */

.home__section {
    background-color: #f3f3f3;
}

.home__section__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.home__section__texto__nome {
    color: #292929;
    font-size: 4.5rem;
    margin: 0;
}


.home__section__texto__frase__efeito {
    color: #2596be;
    font-size: 2.5rem;
    margin: 0;
}

.home__section__texto__frase__efeito__palavras {
    display: inline-block;
}

.home__section__texto__frase__efeito__fixo {
    color: #D93654;
    font-weight: 200;
}

.home__section__texto__frase__efeito__cursor {
    display: inline-block;
    width: 3px;
    height: 35px;
    background-color: black;
    margin-left: 5px;
    animation: blink 0.8s infinite;
}

.home__section__image {
    position: absolute;
    width: 20%;
    right: 0;
    bottom: 0;
}

/* About Section */
.about__section {
    margin: 0.5rem;
    background-color: white;
}

.about__section__visual {
    text-align: center;
    margin-right: 0;
    padding-right: 0;
    flex: none
}

.about__section__subtitle__whoami {
    color: #2596be;
}

.about__section__subtitle__my_description {
    text-align: justify;
    line-height: 1.5;
}

/* Portifolio Section */

.portfolio__section {
    background-color: #f3f3f3;
}

.portfolio__section__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio__section .articles {
    display: flex;
    flex-direction: column;
}

.portfolio__section__title {
    flex: none;
}

.portfolio__section__title h1 {
    margin-bottom: 0;
    font-size: 2rem;
}

.portfolio__section__projects__column {
    width: 70%;
    display: flex;
}

.portfolio__section__projects__column__items {
    position: relative;
    margin: 1rem;
}

.portfolio__section__projects__column__items img {
    width: 100%;
    height: 100%;
}

.portfolio__section__projects__column__texto {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    opacity: 0;
    background: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.portfolio__section__projects__column__items:hover .portfolio__section__projects__column__texto {
    opacity: 1;
}

.portfolio__section__projects__column__items__texto__subtitle {
    text-decoration: none;
    color: #D93654;
}

.portfolio__section__projects__column__items__texto__subtitle:hover {
    text-decoration: underline;
}

.portfolio__section__projects__column__texto p {
    margin: 0.5rem;
}

/* Contact Section */

.contact__section {
    flex-direction: column;
    justify-content: center;
}

.contact__section__column {
    justify-content: left;
}

.contact__section h1 {
    font-size: 2rem;
}

.contact__section__form {
    display: grid;
    gap: 0.8rem;
}

.contact__section input,
textarea {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
}

.contact__section input[type="submit"] {
    background-color: #2596be;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
}

.contact__section input[type="submit"]:hover {
    background-color: #25a4be;
}

.contact__section input:focus,
.contact__section textarea:focus {
    border-color: #25a4be;
    outline: none;
}

/* Efeito de "brilho" do cursor no texto*/
@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Fim do efeito de "brilho" do cursor no texto*/

@media screen and (max-width: 1020px) {

    main {
        margin-left: 0;
    }

    .navbar {
        width: 100%;
        height: auto;
        flex-direction: column;
        z-index: 2;
    }

    .navbar__list__item {
        font-size: 1rem;
    }

    .navbar__image {
        display: none;
    }

    .navbar__list {
        display: none;
    }

    .navbar__nome {
        display: none;
    }

    .navbar__trabalho {
        display: none;
    }

    .menu-toggle {
        display: block;
        background-color: #cecece;
        color: black;
        font-size: 1rem;
        border: none;
        cursor: pointer;
    }

    .show-menu {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }


    .home__section__texto__nome {
        color: black;
        font-size: 2.2rem;
        margin: 0;
        white-space: nowrap;
    }

    .home__section__texto__frase__efeito {
        font-size: 1.4rem;
        margin: 0;
        white-space: nowrap;
    }

    .home__section__texto__frase__efeito__cursor {
        display: inline-block;
        width: 2px;
        height: 20px;
    }

    .home__section__image {
        width: 35%;
    }

    /* About Section */

    .about__section {
        align-items: center;
    }

    .articles {
        flex-direction: column;
    }

    /* Nesta parte, eu ganho o maximo possivel de área
    da área do aparelho móvel */
    .about__section__visual {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: auto;
    }

    .about__section__visual__image {
        padding-top: 2rem;
        width: 60%;
    }

    .about__section__textual {
        font-size: 0.85rem;
        padding: 0;
        margin: 0;
    }

    .about__section__subtitle__whoami {
        margin: 0;
    }

    .about__section__subtitle__my_description {
        text-align: justify;
        line-height: 1.5;
        margin-bottom: 0;
        /* Adicione esta linha para criar espaço inferior */
    }

    /* Portifolio Section */

    .portfolio__section__projects {
        flex-direction: row;
        text-align: center;
        padding: 0;
        display: flex;
        align-items: start;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .portfolio__section__projects__column {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .portfolio__section__projects__column__items {
        margin: 0.2rem;
    }


    .portfolio__section__title {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 10%;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 1rem;
    }

    .portfolio__section__title h1 {
        font-size: 2rem;
        margin: 0;
    }

    /* Rodape Imagem */

    .rodape__image {
        width: 1rem;
    }
}

@media screen and (max-height: 580px) {
    .navbar {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 580px;
        scrollbar-width: thin;
        -webkit-scrollbar-width: thin;
    }

    section {
        height: 100%;
    }

}

@media screen and (min-width: 580px) and (max-width: 1020px) {

    .portfolio__section__projects {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .portfolio__section__projects img {
        width: 80%;
    }
}

@media screen and (max-width: 580px) {
    .portfolio__section__projects img {
        width: 100%;
    }
}