<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinja2 Example 1</title>
</head>

<body>
    <h2>Implementando jinja 2 com estruturas de dados em python</h2>
    <h3>Operações com listas</h3>
    <p>Janaina disse que seus três filmes favoritos são {{ movies[0], movies[1], movies[2]}}</p>

    <h3>Operações com dicionários</h3>
    <p>
        Este é um {{car["brand"]}} {{car["model"]}}, built in {{car["year"]}}.
    </p>

    <h3>Dados de operações costumizadas</h3>
    <p>
        Aqui temos um carro raro:
        o {{carro.modelo}}, fabricado pela {{carro.marca}} no ano de {{carro.ano}},
        com {{carro.qtd_portas}} portas, {{carro.qtd_lugares}} lugares e {{carro.qtd_rodas}} rodas
    </p>
</body>

</html>