/* Basic Estructure */

body {
    margin: 0;
    font-size: 24px;
}

nav {
    width: 20%;
    height: 100vh;
    background-color: black;
    display: flex;
    position: fixed;
}

nav ul {
    color: white;
    margin: auto;
    list-style: none;
    padding: 0;
}

.content {
    width: 80%;
    margin-left: 20%;
}

.content section {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.content section article {
    margin-left: 10%;
    margin-top: 10%;
    height: 90%;
}

.content section footer {
    height: 10%;
    text-align: center;
}

/* Responsive Menu */
.icon {
    display: none;
}

@media screen and (max-width: 768px) {

    .content {
        width: 100%;
        margin-left: 0;
    }

    .icon {
        display: block;
    }

    nav {
        width: 100%;
        height: auto;
    }

    .nav__hidden {
        display: none;
    }

}

/* End Responsive Menu */

/* End of Basic Estructure */