/* Basic Estructure */

body {
    margin: 0;
    font-size: 24px;
}

nav {
    width: 20%;
    height: 100vh;
    background-color: black;
    display: flex;
    position: fixed;
}

nav ul {
    color: white;
    margin: auto;
    list-style: none;
    padding: 0;
}

.content {
    width: 80%;
    margin-left: 20%;    
}

.content section {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.content section article {
    margin-left: 10%;
    margin-top: 10%;
    height: 90%;
}

.content section footer {
    height: 10%;
    text-align: center;
}

/* End of Basic Estructure */

/* Responsive Menu */

.menu-icon {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.2rem;
    display: none;
}

@media screen and (max-width: 768px) {
    
    .menu-icon {
        display: block; /* Exibe o ícone do menu quando a tela é pequena */
    }

    .nav__list {
        display: none;
    }

    .nav__list.active {
        display: flex;
    }

    nav {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .content {        
        margin: 0;
        width: 100%; 
    }

    .content section article {
        margin-top: 10%;        
    }
    
}
/* Responsive Menu */