/* Basic Estructure */

body {
    margin: 0;
}

nav {
    width: 20%;
    height: 100vh;
    background-color: black;
    display: flex;
    position: fixed;
}

nav ul {
    color: white;
    margin: auto;
    list-style: none;
    padding: 0;
}

.content {
    width: 80%;
    margin-left: 20%;
}

.content section {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.content section article {
    height: 90%;
}

.content section footer {
    height: 10%;
    text-align: center;
}

/* End of Basic Estructure */