*,
*::before,
*::after {
    box-sizing: border-box;
}


html {
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    box-sizing: border-box;
    display: flex;
    margin: 0;
}


.sidebar {
    padding: 0;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cecece;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.sidebar__image {
    width: 100%;
    max-width: 7rem;
    height: auto;
    border-radius: 50%;
    background-color: #EAEAEA;
}

.sidebar__nome {
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

.sidebar__trabalho {
    white-space: nowrap;
    font-size: 1rem;
    color: #2596be;
}

.sidebar__list {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    text-align: center;
}

.sidebar__list__item {
    border-bottom: 2px solid transparent;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 1.5rem;
}

.sidebar__list__item:hover {
    display: inline-block;
    border-bottom: 2px solid #D93654;
}


.sidebar__active__link {
    color: #2596be;
}


main {
    margin-left: 15%;
    width: 85%;
    padding: 0;
}


section {
    height: 100vh;
    text-align: center;
}


.home__section {
    background-color: #EAEAEA;
}

.home__section__image {
    width: 20%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.home__section_scroll_down_image {
    width: 10%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.home__section__texto {
    font-weight: 700;
    letter-spacing: 0.3px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home__section__texto__nome {
    color: #292929;
    font-size: 5rem;
    margin: 0;
}


.home__section__texto__frase__efeito {
    color: #2596be;
    font-size: 2.5rem;
    margin: 0;
}

.home__section__texto__frase__efeito__palavras {
    display: inline-block;
}

.home__section__texto__frase__efeito__fixo {
    color: #D93654;
    font-weight: 200;
}

.home__section__texto__frase__efeito__cursor {
    display: inline-block;
    width: 3px;
    height: 35px;
    background-color: black;
    margin-left: 5px;
    animation: blink 0.8s infinite;
}


/* Efeito de "brilho" do cursor no texto*/
@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Fim do efeito de "brilho" do cursor no texto*/


.menu-toggle {
    display: none;
}

@media screen and (max-width: 1020px) {

    .sidebar {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .sidebar__list__item {
        font-size: 1rem;
    }

    .sidebar__image {
        display: none;
    }

    .sidebar__list {
        display: none;
    }

    .sidebar__nome {
        display: none;
    }

    .sidebar__trabalho {
        display: none;
    }

    main {
        margin-left: 0;
        width: 100%;
    }

    .home__section__image {
        width: 35%;
        z-index: 0;
    }

    .home__section_scroll_down_image {
        width: 30%;
    }

    .home__section__texto {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .home__section__texto__nome {
        color: black;
        font-size: 2rem;
        margin: 0;
        white-space: nowrap;
    }

    .home__section__texto__frase__efeito {
        font-size: 1.5rem;
        margin: 0;
        white-space: nowrap;
    }

    .home__section__texto__frase__efeito__cursor {
        display: inline-block;
        width: 2px;
        height: 20px;
    }

    .menu-toggle {
        display: block;
        background-color: #cecece;
        color: black;
        font-size: 1rem;
        border: none;
        cursor: pointer;
    }

    .show-menu {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-height: 580px) {
    .sidebar {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 580px;
        scrollbar-width: thin;
        -webkit-scrollbar-width: thin;
    }
}